body{
    background-color: black;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
#heart-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.heart{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    transform: rotate(-45deg);
    filter: drop-shadow(0 0 10px) rbga(255, 77, 109, 0.7);
    opacity: 0.9;
    pointer-events: none;
}
.heart::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
    top: -50%;
    left: 0;
}.heart::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 0;
    left: 5px;
}