* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
}
body {  
    background-color: cadetblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.multiple-items {
  width: 80%;
  margin: 50px auto;
}
.multiple-items div {
  background-color: #590202;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding-left: 10px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: rgb(17, 16, 16);
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}
img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
body {
  background: url(https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80)
    no-repeat center center;
  background-size: cover;
  font-family: Arial;
  min-height: 100%;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem;
}
p {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.25em 0.5em;
  position: relative;
}

p span {
  display: block;
  padding: 0.25em 0.5em;
}

p + p {
  margin-top: 2rem;
}

p.white {
  background: white;
  color: black;
  mix-blend-mode: screen;
}

p.black {
  background: black;
  color: white;
  mix-blend-mode: multiply;
}

p.light {
  /* Add low opacity dark background to improve contrast */
  background: rgba(0, 0, 0, 0.3);
  padding: 0;
}

p.light span {
  background: #d5d2f4;
  color: black;
  mix-blend-mode: lighten;
}

p.dark {
  /* Add low opacity light background to improve contrast */
  background: rgba(255, 255, 255, 0.3);
  padding: 0;
}

p.dark span {
  background: #2f2b59;
  color: white;
  mix-blend-mode: darken;
}