body{
background-color:#ddd; 
font-family:'Poiret One', Segoe UI Light;
}

#card {
position: absolute;
top:100px;
width: 460px; 
height: 260px;
left:50%;
margin-left: - 230px;
}

#card .heart {
width: 260px; 
height: 260px;
float: left;
}

#card #circle {
height:130px; 
width:130px;
border-radius: 50%; 
background-color: #f00;
}

#card #rec, #card #rec2 { 
margin-top:-60px; 
width:130px;
height: 130px;
background-color: #f00;
border-radius: 35% 0 0 0;
}

#card #half2 {
-ms-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg); 
margin-top: -330px;
margin-left: -200px;
}

#card #heart2 {
margin-top: -60px; 
margin-left: -130px;
}

#card #heart2 #circle, #card #heart2 #rec {
background-color: #fff;
}

#card #half2 #rec {
border-bottom: 1px solid #eee;
margin-top: -61px;
}

#card #message {
float: left; 
width: 200px; 
height: 200px; 
margin-left: -130px;
background-color: #333; 
border-radius: 35% 0 35% 0; 
text-align: center;
}

#card #message h2 {
font-size: 20px; 
color: #fff; 
width: 160px; 
margin-top: 60px;
margin-left: 16px;
}